
<mat-toolbar color="primary" id="toolbar">
  <div class="container">
    <span>OpenPocket</span>
    <button mat-button style="float: right"  (click)="AddNewDialog()"><mat-icon>add</mat-icon></button>

  </div>
</mat-toolbar>
<div class="container" id="main">
  <mat-action-list>
    <button mat-list-item (click)="OpenCardSheet({value: card.barcode, format: card.format, name: card.title})" *ngFor="let card of cardList; let i = index;">{{card.title}}
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" (click)="$event.stopPropagation()">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="menuSure" aria-label="Example icon-button with a menu" >
          <mat-icon>delete</mat-icon>
          <span>Delete card</span>
          <mat-menu #menuSure="matMenu">
            <button mat-menu-item (click)="cardList.splice(i, 1); save()">
              <mat-icon>delete</mat-icon>
              <span>Delete</span>
            </button>
          </mat-menu>
        </button>
        <button mat-menu-item (click)="EditDialog(card, i)">
          <mat-icon>edit</mat-icon>
          <span>Edit card</span>
        </button>

      </mat-menu>
    </button>
  </mat-action-list>

<!--  <mat-accordion>-->
<!--      <mat-expansion-panel hideToggle *ngFor="let card of cardList">-->
<!--        <mat-expansion-panel-header>-->
<!--          <mat-panel-title>-->
<!--            {{card.title}}-->
<!--          </mat-panel-title>-->
<!--          <mat-panel-description>-->
<!--            {{card.format}}-->
<!--          </mat-panel-description>-->
<!--        </mat-expansion-panel-header>-->

<!--        &lt;!&ndash;<img id="card-{{card.id}}">-->
<!--        <p style="display: none;">{{-->

<!--          generateBarcode( "#card-"+card.id, formatBarcode(card.barcode, card.format), {-->
<!--            format: card.format-->
<!--          })-->
<!--          }}-->
<!--        </p>&ndash;&gt;-->
<!--        <ngx-barcode6-->
<!--          (click)="Expand($event)"-->
<!--          @ts-ignore-->
<!--          *ngIf="card.barcode && card.format != 'QRCode' && console.log(card.format)"-->
<!--          [bc-format]="card.format"-->
<!--          [bc-value]="formatBarcode(card.barcode, card.format)"-->
<!--          [bc-display-value]=true-->
<!--          [bc-background]="'#ffffff00'"-->
<!--          >-->
<!--        </ngx-barcode6>-->
<!--        <ngx-qrcode-->
<!--          (click)="Expand($event)"-->
<!--          *ngIf="card.barcode && card.format == 'QRCode'"-->
<!--          [elementType]="NgxQrcodeElementTypes.IMG"-->
<!--          [value]="card.barcode">-->
<!--        </ngx-qrcode>-->



<!--      </mat-expansion-panel>-->
<!--  </mat-accordion>-->
</div>



<!-- Fixed right bottom container responsive FAB button-->
<!--<div id="bottom">-->
<!--  <div class="container" id="buttons">-->
<!--    <button mat-fab color="primary" aria-label="Example icon button with a delete icon" class="floating-add-button btn btn-primary" data-toggle="modal" data-target="#exampleModal">-->
<!--      <mat-icon>add</mat-icon>-->
<!--    </button>-->
<!--  </div>-->
<!--</div>-->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
