<mat-nav-list>
  <ngx-barcode6
    style="display: inline-block; margin: 5px; width: 100%"
    class = "BarcodeSheet"
    *ngIf="data && data.format != 'QRCode' && data.value"
    [bc-format]="data.format.key"
    [bc-value]="data.value"
    [bc-display-value]=true
    [bc-background]="'#ffffff00'"
  >
  </ngx-barcode6>
  <ngx-qrcode
    [width]="QrSize"
    class = "QrCodeSheet"
    style="display: inline-block; margin: 5px; width: 100%"
    *ngIf="data && data.format === 'QRCode' && data.value"
    [value]="data.value">
  </ngx-qrcode>
</mat-nav-list>
